<h1>Carts#show</h1>

<div class="table-responsive">
  <table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>PRODUCTO</th>
      <th>PRECIO</th>
      
      <th>BORRAR</th>



     
      

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cart.id %></td>
        <td><%= order.product.name %></td>
        <td><%= order.product.precio %></td>
        <td>BORRAR</td>
       


    <% end %>
  </tbody>

</table>

<h1>Total <%=  @cart.total_amount%></h1>



<%= form_for [@cart, Payment.new] do |f| %>
	    <%= f.submit "PAGAR", :class => "btn btn-primary btn-lg" %>
	<% end %>




<br>
<br>
<br>

</div>